---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

p {
  text-align: justify;
}

ul.list {
  margin-left: 0px;

  > li {
    display: block;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: $spacing-unit / 4 $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;

    &.library {
      background-color: #00957f20;
    }

    &.experiment {
      background-color: #81b62c20;
    }

    &.education {
      background-color: #fab82e20;
    }

    > p.description {
      margin-top: $spacing-unit / 10;
      margin-bottom: $spacing-unit / 10;
      margin-left: $spacing-unit / 2;
      text-align: initial;
    }

    > div.badges {
      margin-left: $spacing-unit / 2;

      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
    }
  }
}

.badge {
  background-color: gray;
  border-radius: 1000px;
  padding: 1px 7.5px;
  font-size: x-small;
  font-weight: bold;
  color: white;

  &.library {
    background-color: #00957f;
  }
  &.experiment {
    background-color: #81b62c;
  }
  &.education {
    background-color: #fab82e;
  }
  &.hybrid {
    background-color: #048ad1;
  }
  &.resourceaware {
    background-color: #d547ca;
  }
  &.trustworthy {
    background-color: #6975fe;
  }
  &.quantum {
    background-color: #ab6eaf;
  }
  &.other {
    background-color: #808080;
  }
  &.keyword {
    background-color: transparent;
    color: $text-color;
    font-weight: normal;
    padding-left: 0px;
    padding-right: 0px;
    &::before {
      content: "\b7";
      margin-right: 4px;
    }
  }
}

.biburl {
  display: inline-block;
  height: $base-font-size;
  width: 3.08 * $base-font-size;
  vertical-align: bottom;
  margin-left: $spacing-unit / 10;
  background-image: url("{{ "/assets/bibtex.svg" | relative_url }}");
  background-size: 100% 300%;

  &:visited {
    background-position: 0 200%;
  }

  &:hover {
    background-position: 0 100%;
  }
}
