---
layout: default
---

<div class="home">

  {{ content }}

  <div id="software">
    <p style="display: flex;">
      <input class="search" placeholder="Filter by name, type, etc" style="flex: 1;" />
    </p>
    <ul class="list">
      {% for item in site.data.software %}
        {% if item.type == "e" %}
          <li class="experiment">
        {% elsif item.type == "l" %}
          <li class="library">
        {% else %}
          <li>
        {% endif %}
          <a href="{{ item.url }}" class="name">{{ item.name }}</a>
          <p class="description">
            {{ item.description }}
            {% if item.biblink %}
              <a href="{{ item.biblink }}" class="biblink">[bibtex]</a>
            {% endif%}
          </p>
          <div class="badges">
            {% if item.type == "e" %}
              <span class="experiment badge">type:experiment</span>
            {% elsif item.type == "l" %}
              <span class="library badge">type:library</span>
            {% endif %}
            {% for area in item.areas %}
              {% if area == "h" %}
                <span class="hybrid badge">area:hybrid</span>
              {% elsif area == "r" %}
                <span class="resourceaware badge">area:resource-aware</span>
              {% elsif area == "t" %}
                <span class="trustworthy badge">area:trustworthy</span>
              {% elsif area == "q" %}
                <span class="quandum badge">area:quantum</span>
              {% elsif area == "o" %}
                <span class="other badge">area:other</span>
              {% endif %}
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <script>
    var softwareList = new List('software', { valueNames: [ 'name', 'badges', 'description' ] });
    softwareList.sort('name');
  </script>

</div>
