---
layout: default
---

<div class="home">
<!--   {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  {{ content }}

  <div id="software">
    <p><input class="search" placeholder="Search" /></p>
    <ul class="list">
      {% for item in site.data.software %}
        <li>
          <a href="{{ item.url }}">{{ item.name }}</a>
          <span class="badges">
            {% if item.type == "e" %}
              [experiment]
            {% elsif item.type == "l" %}
              [library]
            {% endif %}
            {% for area in item.areas %}
              {% if area == "h" %}
                [hybrid]
              {% elsif area == "r" %}
                [resource-aware]
              {% elsif area == "t" %}
                [trustworthy]
              {% elsif area == "q" %}
                [quantum]
              {% elsif area == "o" %}
                [other]
              {% endif %}
            {% endfor %}
          </span>
          <p class="description">{{ item.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  <script>
    var softwareList = new List('software', { valueNames: [ 'name', 'badges', 'description' ] });
  </script>

</div>
